<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SImpleMarketPlaceClient</display-name>
  <welcome-file-list>
    <welcome-file>/View/Index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>signUp</display-name>
    <servlet-name>signUp</servlet-name>
    <servlet-class>Servlets.SignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUp</servlet-name>
    <url-pattern>/View/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>search</display-name>
    <servlet-name>search</servlet-name>
    <servlet-class>Servlets.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/View/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>home</display-name>
    <servlet-name>home</servlet-name>
    <servlet-class>Servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/View/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addPlace</display-name>
    <servlet-name>addPlace</servlet-name>
    <servlet-class>Servlets.AddPlace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPlace</servlet-name>
    <url-pattern>/View/AddPlace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>myAccount</display-name>
    <servlet-name>myAccount</servlet-name>
    <servlet-class>Servlets.MyAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myAccount</servlet-name>
    <url-pattern>/View/MyAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deletePlace</display-name>
    <servlet-name>deletePlace</servlet-name>
    <servlet-class>Servlets.DeletePlace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deletePlace</servlet-name>
    <url-pattern>/View/DeletePlace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteReview</display-name>
    <servlet-name>deleteReview</servlet-name>
    <servlet-class>Servlets.DeleteReview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteReview</servlet-name>
    <url-pattern>/View/DeleteReview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reviewPlace</display-name>
    <servlet-name>reviewPlace</servlet-name>
    <servlet-class>Servlets.ReviewPlace</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reviewPlace</servlet-name>
    <url-pattern>/View/ReviewPlace</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>reviewPost</display-name>
    <servlet-name>reviewPost</servlet-name>
    <servlet-class>Servlets.ReviewPost</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reviewPost</servlet-name>
    <url-pattern>/View/ReviewPost</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signOut</display-name>
    <servlet-name>signOut</servlet-name>
    <servlet-class>Servlets.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signOut</servlet-name>
    <url-pattern>/View/SignOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>